

<h3>LO APRENDIDO EN ASP.NET HASTA EL MOMENTO </h3>

<p>Lo que he aprendido hasta el momento en Asp.Net es que si agregas el nombre de la vista al "Layout.cshtml"
    y tambien al "HomeControler" sin haber primero creado la vista, la pagina no encontrara el metodo creado 
    anteriormente, y no la habia actualizado anteriormente y mas adelante seguire ampliando mi conocimiento a 
    traves de proyectos y asignaciones, y me he dado cuenta de que es super importante asp.net ya que nos
    nos brinda seguridad, escalabilidad, entre otros factores en lo que es el desarrollo de aplicaciones web.
</p>


<body style="background-color: #FFF8E7;">

</body>




