

<h3>MIS DATOS </h3>

<body>
    
    <en>Mi nombre es Fernando Brayan Juliao De Los Santos</en>
    <en>Soy de la carrera de Desarrollo de Software</en>
    <en>Mi matricula es 2022-1859</en>
    <en>Seccion #12</en>

</body>

<h3>Foto </h3>

<img src="~/imagenes/fotomia.jpeg" width="500" height="500" />

<body style="background-color: #FFF8E7;">

</body>


